#imageness{ display:flex;justify-content: center 15px; border: 5px solid red; width: 50%;height: 400px;margin-left: auto;margin-right: auto;}
.block{display: flex;flex-direction: column;}
.buton{display:inline-flex;justify-content: center;}
button{ display: solid 3px blue;background-color: black;font-size: 15;color: aliceblue;margin: 20px;}
button:hover{background-color:red};