
.carousel-container {
    position: relative;
    width: 30%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: flex;
    width: 600%; /* 3 resim olduğu için %300 */
  }
  
  .carousel-slide img {
    width: 60%;
  }
  
  .prev, .next {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
      